<div id="sidebar">
<style>
img {
  border-radius: 50%;
}
</style>
  <center>
  <header>
    <img src="/images/me.jpg" alt="">
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        <font size="+2"> {{ site.title }} </font>
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header>

  <a href="/files/Sankaran_CV.pdf">
    Curriculum Vitae
  </a>

  <br>

  {% include sidebar-nav-links.html %}

  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}

  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</center>
</div>